html {
    background-color: rgb(11, 11, 49);
}

.gamebody {
    background-color: rgb(11, 11, 49);
}

.tileSection {
    width: 70%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;

}

.nav {
    background-color: rgb(72, 72, 173);
    display: flex;
    justify-content: center;
}

.nav-section {
    width: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
}

.nav-section button {
    background-color: rgb(  72, 72, 173);
    height: 50px;
    color: white;
    border: 0px;
}

.nav-section div {
    background-color: rgb(  72, 72, 173);
    height: 50px;
    color: white;
    border: 0px;
}

.nav-section button:hover {
    background-color: rgb(43, 144, 226);
}


.header {
    text-align: center;
    color: white;
    background-color: rgb(9, 24, 31);
    padding: 5px;
}

.tile {
    padding: 10%;
    margin: 3%;
    border-radius: 2%;
}

.hiddenTile {
    visibility: hidden;
}

.spacer {
    padding: 0 5px;
}